# Fichiers et répertoires Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.log

# Fichiers d'environnement virtuel
.env/
.venv/
env/
venv/
*.env
*.venv

# Configurations d'IDE
.vscode/
.idea/
*.sublime-workspace

# Dépendances
*.egg-info/
dist/
build/
*.egg
*.whl

# Fichiers générés par pytest et coverage
.cache/
.coverage
htmlcov/
.tox/
.pytest_cache/

# Fichiers générés par Jupyter Notebook
.ipynb_checkpoints/

# Configurations système
.DS_Store
Thumbs.db
